* text=auto eol=lf

*.sh text eol=lf
*.py text
*.md text
*.yml text
*.yaml text
*.ini text
*.cpp text
*.h text
*.hpp text
*.ino text
*.c text
*.txt text
*.svg text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp3 binary
*.wav binary
*.step binary
*.stl binary
